:root {
  --gold: #B3995D;
  --red: #AA0000;
  --navyblue: #0B0B45;
  --charcoal: #36454F;
  --black: #1b1e23;
  --pearl: #E2DFD2;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--gold);
  background-color: var(--pearl);
  line-height: 150%;
  }

header {
  background-color: var(--navyblue);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header h1 {
  color: var(--pearl);
  background-color: var(--gold);
  padding: 10px;
  margin: 0;
  font-size: 4vw;
  line-height: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.5vw;
  }
  
nav a {
  text-decoration: underline;   
  padding: 10px 10px;
  color: var(--gold);
  margin-left: 10px;
  }

h2 {
  margin: 0;
}

/*main {
  margin-top: 20px;
  margin-bottom: 20px;
}*/


.container {
  margin: 25px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  background-color: var(--charcoal);
}

.row {
  display: flex;
  min-height: 200px;
  flex-basis: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  flex-wrap: wrap;
  text-align: center;
}

.col {
  /* flex-basis: 100%; */
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--pearl);
}

.left {
  flex-basis: 15%;
  flex-shrink: 0;
  flex-grow: 0;
  font-family: sans-serif;
  font-size: 1.5vw;
  padding: 25px 0 0 0;
  margin: 0;
}


.right {
  flex-basis: 85%;
  flex-shrink: 0;
  flex-grow: 0;
  font-family: sans-serif;
  font-size: 1.5vw;
}

.small_images > .col {
  flex-basis: 100%;
}

.big_image {
  max-width: 60%;
}

.small_images {
  max-width: 50%;
  position: relative;
  justify-content: center;
}


#placeholder,
#first-challenge {
  max-width: 100%;
  max-height: 200px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 10px 10px;
}

.contact a {
  color: var(--gold);
  transition: background-color 0.3s ease;
  text-decoration: underline;
  font-size: 1.5vw;
  line-height: 1;
  padding: 10px 10px;
  margin: 5px;
}

.contact a:hover {
  background-color: var(--red);
}

nav a:hover {
  background-color: var(--red);
}

#placeholder,
#first-challenge,
#prework{
  max-width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: var(--red);
  position: relative;
}

.bottom-left {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: var(--black);
  font-family: sans-serif;
  font-size: 1.5vw;
  background-color: var(--gold);
  padding: 5px;
}

#bigpicture {
  position: relative;
}

/* 
I think this is redundant, cannot tell.
#littlepicture{
  flex-basis: auto;
} */



@media screen and (max-width: 980px) {
  .big_image {
    max-width: 75%;
  }
  
  .small_images {
    max-width: 75%;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .big_image {
    max-width: 75%;
  }
  
  .small_images {
    max-width: 75%;
    position: relative;
  }
}




