:root {
  --gold: #B3995D;
  --red: #AA0000;
  --navyblue: #000080;
  --charcoal: #36454F;
  --black: #1b1e23;
  --pearl: #E2DFD2;
}

.container {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.row {
  background-color: var(--charcoal);
  display: flex;
  min-height: 200px;
  flex-basis: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  flex-wrap: wrap;
}


.col {
  flex-basis: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--pearl);
}

.left {
  flex-basis: 15%;
  flex-shrink: 0;
  flex-grow: 0;
  font-family: sans-serif;
}

.right {
  flex-basis: 85%;
  flex-shrink: 0;
  flex-grow: 0;
}

.small_images > .col {
  flex-basis: 50%
}

.contact {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 85%;
  justify-content: space-between;
}

body {
margin: 0;
padding: 0;
font-family: sans-serif;
color: var(--gold);
background-color: var(--pearl);
line-height: 150%;
}

header {
  background-color: var(--gold);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}



header h1 {
  color: var(--gold);
  background-color: var(--red);
  padding: 10px;
  margin: 0;
  font-size: 3vw;
  line-height: 1;
}



nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 10px 10px;
  color: var(--red);
  margin-left: 10px;
}



